.container {
    display: flex;
    flex-direction: row;
    background: #441C1C;
    width: 100%;
    color: white;
    height: 50px;
    position: relative;
}

.text {
    position: absolute;
    top: 14px;
    left: 15px;
    margin: 0px;
    color: white;
}

.pub {
    position: absolute;
    right: 30px;
    margin: 0px;
    top: 14px;
}