.review {
    background-color: red;
    width: 500px;
    margin-left: 10%;
    background: #D9D9D9;
    margin-top: 10px;
    height: 260px;
    overflow-y: hidden;
}

.text {
    font-weight: 400;
    font-size: 14px;
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.description {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}